@use "../variables" as *;
@use "../media" as *;

.modal {
  margin: auto;
  border-radius: 24px;
  max-width: 676px;
  min-height: 459px;
  width: 100%;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
  background-color: $white;
  display: flex;
  overflow: hidden;

  @include mobile {
    flex-direction: column;
  }

  // grid-template-columns: 324px 1fr;
  // grid-template-areas: ". content";

  &::before {
    content: "";
    width: 48%;
    display: block;
    background-image: url("/img/cart-img.jpg");
    background-size: cover;
    background-position: center;

    @include mobile {
      width: 100%;
      height: 200px;
    }
  }

  &__content {
    width: 52%;
    grid-area: content;
    padding: 24px;
    display: flex;
    flex-direction: column;

    @include mobile {
      width: 100%;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
  }

  &__cart-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  &__cart-item {
    display: grid;
    grid-template-areas: "img title title" "img count price";
    grid-template-columns: 54px 1fr max-content;
    gap: 8px 12px;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid rgba(#2e3514, 0.04);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &__cart-img {
    grid-area: img;
    width: 54px;
    height: 54px;
    object-fit: cover;
    align-self: center;
    object-position: center;
  }

  &__cart-title {
    grid-area: title;
    font-weight: 400;
    font-size: 16px;
    color: $green;
  }

  &__cart-count-wrapper {
    grid-area: count;
    max-width: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    font-size: 16px;
  }

  &__cart-btn {
    border: 1px solid $green;
    border-radius: 6px;
    width: 24px;
    height: 24px;

    &_minus {
    }

    &_plus {
    }
  }

  &__cart-count {
  }

  &__cart-price {
    grid-area: price;
    font-size: 16px;
  }

  &__cart-form {
  }

  &__cart-fieldset {
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 16px;
  }

  &__cart-legend {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 4px;
  }

  &__radio {
    font-size: 16px;
    display: block;
  }

  &__cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cart-submit {
    border-radius: 40px;
    padding: 12px 24px;
  }

  &__cart-price {
    font-weight: 700;
    font-size: 16px;

    color: $purple;
  }
}

.modal {
}
