@use "../variables" as *;
@use "../media" as *;

.radio {
  position: relative;
  display: block;
  padding-right: 16px;
  cursor: pointer;
  &__input {
    position: absolute;
    appearance: none;
    top: 50%;
    translate: 0 -50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;

    right: 0;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      display: block;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid $green;
    }

    &:checked::before {
      background-color: $green;
    }

    &:focus-visible {
      box-shadow: 0 0 10px rgba($color: $purple, $alpha: 0.8);
      outline: 1px solid $green;
    }

    &:hover {
      background-color: $carrot;
    }
  }
}
